{{ if .SectionNum }}# {{ .Command.Name }} {{ .SectionNum }} "" "" "{{ .Command.Name }} Manual"

{{ end }}# NAME

{{ .Command.Name }}{{ if .Command.Usage }} - {{ .Command.Usage }}{{ end }}

# SYNOPSIS

```
{{ if .Command.UsageText }}{{ .Command.UsageText }}{{ else }}{{ .Command.Name }} [GLOBAL OPTIONS] command [COMMAND OPTIONS] [ARGUMENTS...]{{ end }}
```

# DESCRIPTION

{{ if .Command.Description }}{{ .Command.Description }}{{ end }}{{ if .GlobalArgs }}

# OPTIONS
{{ range $v := .GlobalArgs }}
{{ $v }}{{ end }}
{{ end }}{{ if .Commands }}

# COMMANDS
{{ range $v := .Commands }}
{{ $v }}{{ end }}{{ end }}{{ if .Command.Authors }}

# AUTHOR
{{ range $v := .Command.Authors }}
{{ $v }}{{ end }}{{ end }}{{ if .Command.Copyright }}

# COPYRIGHT

{{.Command.Copyright}}{{ end }}
